# frozen_string_literal: true

class <%= form_class_name %> < WellFormed::ResourceForm
  # resource_alias :<%= resource_alias_name %>

  # attribute :title, :string

  # merge_model_errors

  # validates :title, presence: true

  # save_within_transaction

  # before_perform :set_defaults
  # after_perform  :notify
  # after_perform_commit :notify_async

  # private

  # def perform
  #   assign_attributes_to(resource)
  #   resource.save
  # end

  # def set_defaults
  # end

  # def notify
  # end

  # def notify_async
  # end
end
